<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">

<!--HTML Head-->

<div th:fragment="map">
    <script type="text/javascript" charset="utf-8" src="https://map.yahooapis.jp/js/V1/jsapi?appid=dj00aiZpPW9VQTdERlNES1JmcyZzPWNvbnN1bWVyc2VjcmV0Jng9ZGU-">
    </script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

            var list = /*[[${users}]]*/;

            if (list == null){
                var user = /*[[${user}]]*/;

                var latitude = user.latitude;
                var longitude = user.longitude;

                window.onload = function(){
                    var ymap = new Y.Map("map");
                    ymap.drawMap(new Y.LatLng(latitude, longitude), 17, Y.LayerSetId.NORMAL);
                    console.log("LOADED TEST PAGE");

                    var label = new Y.Label(new Y.LatLng(user.latitude, user.longitude), user.name);
                    ymap.addFeature(label);

                    var control = new Y.SliderZoomControlVertical();
                    ymap.addControl(control);
                }
            }
            else{
                console.log("List is not null.");
                var latitudes = [];
                var longitudes = [];
                for (var i=0; i<list.length; i++){
                    latitudes.push(list[i].latitude);
                    longitudes.push(list[i].longitude);
                }

                var latitude = (Math.max.apply(null, latitudes) + Math.min.apply(null, latitudes)) / 2;
                var longitude = (Math.max.apply(null, longitudes) + Math.min.apply(null, longitudes)) / 2;

                window.onload = function(){
                    var ymap = new Y.Map("map");
                    ymap.drawMap(new Y.LatLng(latitude, longitude), 15, Y.LayerSetId.NORMAL);
                    console.log("LOADED TEST PAGE");

                    for (var i=0; i<list.length; i++){
                        var label = new Y.Label(new Y.LatLng(list[i].latitude, list[i].longitude), list[i].name);
                        ymap.addFeature(label);
                    }

                    var control = new Y.SliderZoomControlVertical();
                    ymap.addControl(control);
                }
            }

        /*]]>*/
    </script>
</div>


</html>