<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">

<!--HTML Head-->

<div th:fragment="body">
    <script type="text/javascript" charset="utf-8" src="https://map.yahooapis.jp/js/V1/jsapi?appid=dj00aiZpPW9VQTdERlNES1JmcyZzPWNvbnN1bWVyc2VjcmV0Jng9ZGU-">
    </script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
            var latitude = /*[[${users.get(0).latitude}]]*/;
            var longitude = /*[[${users.get(0).longitude}]]*/;

            window.onload = function(){
                var ymap = new Y.Map("map");
                ymap.drawMap(new Y.LatLng(latitude, longitude), 17, Y.LayerSetId.NORMAL);
                console.log("LOADED TEST PAGE");

                var list = /*[[${users}]]*/;
                for (var i=0; i<list.length; i++){
                    var label = new Y.Label(new Y.LatLng(list[i].latitude, list[i].longitude), "User");
                    ymap.addFeature(label);
                }

                var control = new Y.SliderZoomControlVertical();
                ymap.addControl(control);
            }

        /*]]>*/
    </script>

    <div id="map" style="width:800px; height:600px"></div>
</div>
</html>