<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">

<!--HTML Head-->

<div th:fragment="body">
    <script type="text/javascript" charset="utf-8" src="https://map.yahooapis.jp/js/V1/jsapi?appid=dj00aiZpPW9VQTdERlNES1JmcyZzPWNvbnN1bWVyc2VjcmV0Jng9ZGU-">
    </script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
            var latitude = /*[[${users.user.latitude}]]*/ 35.66572;
            var longitude = /*[[${users.user.longitude}]]*/ 139.73100;

            window.onload = function(){
                var ymap = new Y.Map("map");
                ymap.drawMap(new Y.LatLng(latitude, longitude), 6, Y.LayerSetId.NORMAL);

                [#th:block th:each="user:${users}"]
                    var label = new Y.Label(new Y.LatLng(user.locationform.latitude, user.locationform.longitude), "User");
                    ymap.addFeature(label);
                [/th:block]
            }

        /*]]>*/
    </script>

    <div id="map" style="width:800px; height:600px"></div>
</div>
</html>