body {
    font-family: 'Noto Sans', sans-serif;
    //background: rgb(255,255,255);
    //background: linear-gradient(0deg, rgba(255,255,255,0.3603816526610645) 0%, rgba(233,233,233,0.788953081232493) 100%);
}



.main-content {
    max-width: 80%;
    margin: auto;
    //background
    //padding: 10px;
}

.login-container {
    max-width: 40%;
    margin: auto;
}

.search-container {
    max-width: 80%;
    margin: auto;
}

#overview {
    background: #ff1b68;
}

.section-title {
    color: #2ddf5c;
}

h1 {
    //color: white;
    font-family: 'Anton', sans-serif;
}

#overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.tag {
    font-weight: bold;
    color: teal;
}