<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head th:replace="/fragments/base :: head">
</head>

<body>

<div th:replace="/fragments/base :: navbar">
</div>

<h1>Appointment list page</h1>

<!--<form method="post" th:action="'@{/user/' + ${appointment.get(0).requested.id} + '}'">-->
<!--<form method="post" th:action="@{/user/}" th:object="${appointment}">-->
<form method="get" th:action="@{/}">
<!--    <h2 th:text="${'Appointment with ' + appointments.get(0).requested.name}"></h2>-->
    <table>
        <tr th:each="appointment : ${appointments}" th:object="${appointment}">
            <td>
                <img class="img-responsive" th:src="${'https://i.pravatar.cc/150/img=' + appointment.requested.id}">
            </td>
            <td>
                Date: <span th:text="${appointment.date}"></span><br>
                Place: <span th:text="${appointment.city} + ' - ' + ${appointment.place}"></span><br>
                Problem: <span th:text="${appointment.tag.name}"></span><br>
                Detail: <span th:text="${appointment.details}"></span><br>
            </td>
        </tr>
    </table>

    <button class="btn btn-secondary">Home</button>
</form>


<!--<div th:replace="/fragments/base :: footer"></div>-->
<div th:replace="/fragments/base :: script-import"></div>
</body>
</html>