<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head th:replace="/fragments/base :: head">
</head>

<body>

<div th:replace="/fragments/base :: navbar">
</div>

<h1 class="text-center" th:text="'Hi, ' + ${name} + '! These are your appointments'"></h1>
<br>

<div class="main-content">
    <form method="get" th:action="@{/}">
        <table style="width:100%">
            <tr th:each="appointment : ${appointments}" th:object="${appointment}">
                <td>
                    <img class="img-responsive" th:src="${'https://i.pravatar.cc/150?img=' + appointment.requested.id}">
                </td>
                <td>
                    <strong> Appointment with <span th:text="${appointment.requested.name}"></span></strong>
                    <br>
                    <br>
                    Date: <span th:text="${appointment.date}"></span><br>
                    Place: <span th:text="${appointment.city} + ' - ' + ${appointment.place}"></span><br>
                    Problem: <span th:text="${appointment.tag.name}"></span><br>
                    Detail: <span th:text="${appointment.details}"></span><br>
                </td>
            </tr>
        </table>

        <br>
        <button type="button" class="btn btn-outline-primary btn-lg btn-block" onclick="location.href='/'">
            Back
        </button>
    </form>
</div>

<div th:replace="/fragments/base :: script-import"></div>
</body>
</html>