<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="/fragments/base :: head">
</head>

<body>

<div th:replace="/fragments/base :: navbar">
</div>

<br>
<h1 class="text-center">
    Congratulations! Your account has been created.
</h1>

<div class="text-center">
    <button type="button" class="btn btn-outline-primary btn-lg btn-block" onclick="location.href='/'">
        Back
    </button>
</div>

<!--<div th:replace="/fragments/base :: footer"></div>-->
<div th:replace="/fragments/base :: script-import"></div>
</body>
</html>
