<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="/fragments/base :: head">
</head>

<link rel="stylesheet" th:href="@{/css/message.css}">

<body>

<div th:replace="/fragments/base :: navbar">
</div>

<div class="container">
  <h1 class="text-center">Message</h1>
  <div id="scrollTable" style="height: 400px; overflow-y: scroll;">
    <table style="table-layout: fixed; width: 100%;">
      <tr th:each="message : ${messages}">
        <th:block th:if="${message.user.id == idFrom}">
          <div class="outgoing_msg">
            <td align="right">
              <div class="sent_msg">
                <p th:text="${message.content}"></p>
                <span class="time_date" th:text="${#temporals.format(message.timestamp, 'HH:mm')}"></span>
              </div>
            </td>
          </div>
        </th:block>
        <th:block th:unless="${message.user.id == idFrom}">
          <div class="incoming_msg">
            <td>
              <div class="incoming_msg_img">
              <img class="img-responsive" th:src="${'https://i.pravatar.cc/150?img=' + message.user.id}">
              </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <span class="time_date" th:text="${message.user.name}"></span>
                  <p th:text="${message.content}"></p>
                  <span class="time_date" th:text="${#temporals.format(message.timestamp, 'HH:mm')}"></span>
                </div>
              </div>
            </td>
          </div>
        </th:block>
      </tr>
    </table>
  </div>

  <form class="type_msg" th:action="@{/message/send}" th:object="${message}" method="post">
    <div class="input_msg_write">
      <input id="newMessage" type="text" name="content" class="write_msg" maxlength="100" placeholder="Type a message">
      <input type="hidden" name="user" th:value="${idFrom}">
      <input type="hidden" name="userTo" th:value="${idTo}">
      <button id="btn" class="msg_send_btn" disabled="true">Send</button>
    </div>
  </form>
</div>

<div th:replace="/fragments/base :: script-import"></div>

<script type="text/javascript" th:inline="javascript">
  $(function(){
    $("#newMessage").on("keyup", function() {
      if ($(this).val().length === 0) {
        $("#btn").prop("disabled", true);
      } else {
        $("#btn").prop("disabled", false);
      }
    });
  });

  var $scrollTable = $("#scrollTable");
  var scrollTo = $scrollTable.get(0).scrollHeight - $scrollTable.height();
  $(window).on("load", function() { $("#scrollTable").scrollTop(scrollTo); });
</script>

</body>

</html>