<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/base :: head">
</head>

<body>

<div th:replace="/fragments/base :: navbar">
</div>
<h1 th:object="${user}"><span th:text="${user.username + '''s Profile'}"></span></h1>

    <table>
        <tr th:object="${user}">
            <td>
                <img class="img-responsive" th:src="${'https://i.pravatar.cc/300/img=' + user.id}" >
            </td>
            <td>
                Name: <span th:text="*{name}"></span><br>
                Username: <span th:text="*{username}"></span><br>
                Gender: <span th:text="*{gender}"></span><br>
                Age: <span th:text="*{getAge()}"></span><br>
                Country: <span th:text="*{country}"></span><br>
                Prefecture: <span th:text="*{city}"></span><br>
                Self introduction: <span th:text="*{selfIntroduction}"></span><br>
                Can help with: <span th:each=" tag, tStat : *{tags}" th:text="${tStat.index >= 1}? ', ' + ${tag.name} : ${tag.name}" ></span><br></span><br>
            </td>
        </tr>
        <tr>
            <td>
                <div th:replace="/fragments/map :: map">?</div>
                <div id="map" style="width:480px; height:360px"></div>
            </td>
        </tr>
        <tr>
            <td>
                    <!-- TODO:change url of location.href to message.html -->
                    <button type="button" class="btn btn-primary btn-lg btn-block" th:onclick="'location.href= \' / \''">Contact</button>
                    <button type="button" class="btn btn-outline-primary btn-lg btn-block" th:onclick="'location.href= \' / \''">Back</button>

            </td>
        </tr>

        <!--
            <tr th:each="user : ${users}">
                <tr>
                    <td colspan="3" rowspan="3">Picture here.</td>
                    <td>User name</td>
                    <td th:text="${user.userName"></td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td th:text="${user.country"></td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td th:text="${user.age"></td>
                </tr>
            </tr>
        -->
    </table>


<!--<div th:replace="/fragments/base :: footer"></div>-->
<div th:replace="/fragments/base :: script-import"></div>
</body>
</html>
