<html xmlns:th="http://www.w3.org/1999/xhtml">

<script type="text/javascript">
    window.addEventListener('load', function() {
        document.getElementById('btn').onclick = function() {
            let query = '/search?';

            let cityElmn = document.getElementById('city');
            let selectedCity = cityElmn.options[cityElmn.selectedIndex].value
            console.log(selectedCity);

            let tagElm = document.getElementById('singleSelect');
            let selectedTag = tagElm.options[tagElm.selectedIndex].value;
            console.log(selectedTag);

            query = query + 'city=\"' + selectedCity + '\"&tag=' + selectedTag;
            console.log(query)

            location.href = query;
            //Queryparameter de okouru
            // document.sendData.submit();


        };
    });
</script>

<head th:replace="/fragments/base :: head">
</head>

<body>

<div th:replace="/fragments/base :: navbar">
</div>

<h1>
    楽天介
</h1>
<h4>Your problem will be solved here.</h4>

<!-- <table border="1" width="500" cellspacing="0" cellpadding="5" bordercolor="#333333"> -->
<form name="sendData">
 <tr>
        <select id="prefecture" name="prefecture">
            <option value="北海道">北海道</option>
            <option value="青森県">青森県</option>
            <option value="岩手県">岩手県</option>
            <option value="宮城県">宮城県</option>
            <option value="秋田県">秋田県</option>
            <option value="山形県">山形県</option>
            <option value="福島県">福島県</option>
            <option value="茨城県">茨城県</option>
            <option value="栃木県">栃木県</option>
            <option value="群馬県">群馬県</option>
            <option value="埼玉県">埼玉県</option>
            <option value="千葉県">千葉県</option>
            <option value="東京都">東京都</option>
            <option value="神奈川県">神奈川県</option>
            <option value="新潟県">新潟県</option>
            <option value="富山県">富山県</option>
            <option value="石川県">石川県</option>
            <option value="福井県">福井県</option>
            <option value="山梨県">山梨県</option>
            <option value="長野県">長野県</option>
            <option value="岐阜県">岐阜県</option>
            <option value="静岡県">静岡県</option>
            <option value="愛知県">愛知県</option>
            <option value="三重県">三重県</option>
            <option value="滋賀県">滋賀県</option>
            <option value="京都府">京都府</option>
            <option value="大阪府">大阪府</option>
            <option value="兵庫県">兵庫県</option>
            <option value="奈良県">奈良県</option>
            <option value="和歌山県">和歌山県</option>
            <option value="鳥取県">鳥取県</option>
            <option value="島根県">島根県</option>
            <option value="岡山県">岡山県</option>
            <option value="広島県">広島県</option>
            <option value="山口県">山口県</option>
            <option value="徳島県">徳島県</option>
            <option value="香川県">香川県</option>
            <option value="愛媛県">愛媛県</option>
            <option value="愛知県">愛知県</option>
            <option value="福岡県">福岡県</option>
            <option value="佐賀県">佐賀県</option>
            <option value="長崎県">長崎県</option>
            <option value="熊本県">熊本県</option>
            <option value="大分県">大分県</option>
            <option value="宮崎県">宮崎県</option>
            <option value="鹿児島県">鹿児島県</option>
            <option value="沖縄県">沖縄県</option>
        </select>
    </tr>
    <tr>
            <select id="city" name="city">
                <option value="Tokyo">東京</option>
                <option value="Sinjuku">新宿</option>
                <option value="Sibuya">渋谷</option>
                <option value="Harajuku">原宿</option>
                <option value="Ikebukuro">池袋</option>
                <option value="Akihabara">秋葉原</option>
                <option value="Sinagawa">品川</option>
                <option value="Yokohama">横浜</option>
                <option value="Nagoya">名古屋</option>
                <option value="Umeda">梅田</option>
                <option value="Namba">難波</option>
                <option value="Koube">神戸</option>
                <option value="Kyoto">京都</option>
                <option value="Okinawa">沖縄</option>
                <option value="Hokkaido">北海道</option>
            </select>
        </tr>
    <br><br>
    <font size='4'>Whats problem?</font><br>
    <select id="singleSelect" name="selectedItem">
            <option value="">---</option>
            <option th:each="tags : ${tags}" th:value="${tags.tagId}" th:text="${tags.name}" th:selected="${tags.name} == *{selectedItem}">singleSelect</option>
    </select>
</form>
<br><br>



<!-- <tr th:each="todo:${todos}">
    <td th:text="${todo.number}"></td>
    <td th:text="${todo.text}"></td>
    <td>
        <span th:text="${todo.sourceLanguage}" />
        ->
        <span th:text="${todo.targetLanguage}" /></td>
    <td th:text="${todo.translatedText}"></td> -->
</tr>
<!-- </table> -->
<br>
<button id="btn" class="btn btn-primary" value="Click">search!</button>

<div th:replace="/fragments/base :: footer"></div>
</body>
</html>