<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/base :: head">

</head>

<script type="text/javascript" charset="utf-8" src="https://map.yahooapis.jp/js/V1/jsapi?appid=dj00aiZpPW9VQTdERlNES1JmcyZzPWNvbnN1bWVyc2VjcmV0Jng9ZGU-">
</script>

<script type="text/javascript" th:inline="javascript">
    console.log('TEST');
        /*<![CDATA[*/
            var latitude = /*[[${users.user.latitude}]]*/ 35.66572;
            var longitude = /*[[${users.user.longitude}]]*/ 139.73100;

            window.onload = function(){
                var ymap = new Y.Map("map");
                ymap.drawMap(new Y.LatLng(latitude, longitude), 6, Y.LayerSetId.NORMAL);
                console.log("LOADED TEST PAGE");
            }

        /*]]>*/
    </script>

<body>

<div th:replace="/fragments/base :: navbar">
</div>

<h1>API test page (MAP)</h1>

<div id="map" style="width:800px; height:600px"></div>

<div th:replace="/fragments/base :: footer"></div>
</body>
</html>
