<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="/fragments/base :: head">
</head>

<script type="text/javascript" charset="utf-8" src="https://map.yahooapis.jp/js/V1/jsapi?appid=dj00aiZpPW9VQTdERlNES1JmcyZzPWNvbnN1bWVyc2VjcmV0Jng9ZGU-">
</script>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
        var latitude = /*[[${users.get(0).latitude}]]*/;
        var longitude = /*[[${users.get(0).longitude}]]*/;

        window.onload = function(){
            var ymap = new Y.Map("map");
            ymap.drawMap(new Y.LatLng(latitude, longitude), 17, Y.LayerSetId.NORMAL);
            console.log("LOADED TEST PAGE");

            var list = /*[[${users}]]*/;
            for (var i=0; i<list.length; i++){
                var label = new Y.Label(new Y.LatLng(list[i].latitude, list[i].longitude), "User");
                ymap.addFeature(label);
            }

            var control = new Y.SliderZoomControlVertical();
            ymap.addControl(control);
        }

    /*]]>*/
</script>

<body>

<div th:replace="/fragments/base :: navbar">
</div>

<h1>API test page (MAP)</h1>

<div id="map" style="width:800px; height:600px"></div>

<div th:replace="/fragments/base :: footer"></div>
</body>
</html>
