<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Output page</title>
</head>
<body>
    <h1>Search results</h1>
    <form>
        <table>
        <tr th:each="user : ${users}">
            <td>picture here.</td>
            <td>
                User name: <span th:text="${user.username}"></span><br>
                Prefecture: <span th:text="${user.city}"></span><br>
                Age: <span th:text="${user.birthdate}"></span><br>
            </td>
        </tr>
        <!--
            <tr th:each="user : ${users}">
                <tr>
                    <td colspan="3" rowspan="3">Picture here.</td>
                    <td>User name</td>
                    <td th:text="${user.userName"></td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td th:text="${user.country"></td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td th:text="${user.age"></td>
                </tr>
            </tr>
        -->
        </table>
    </form>
</body>
</html>