<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/base :: head">
</head>

<body>

<div th:replace="/fragments/base :: navbar">
</div>

<div class="main-content">
    <h1 class="text-center">Search results</h1>

    <form>
        <table align="center">
            <tr th:each="user : ${users}" th:object="${user}">
                <td>
                    <img class="img-responsive" th:src="${'https://i.pravatar.cc/150?img=' + user.id}">
                </td>
                <td>
                    Name: <span th:text="*{name}"></span><br>
                    Location: <span th:text="*{country} + ' - ' + *{city}"></span><br>
                    Age: <span th:text="${user.getAge()}"></span><br>
                    Can help with: <span th:each=" tag, tStat : *{tags}"
                                         th:text="${tStat.index >= 1}? (${tStat.index == 2}? ', and more' : ', ' + ${tag.name}) : ${tag.name}"
                                         th:unless="${tStat.index > 2}"></span><br>
                </td>
                <td>
                    <button type="button" th:onclick="'window.location.href=\'/user/' +  *{id} + '\''"
                            class="btn btn-primary" style="margin-left: 50px;">View Details
                    </button>
                </td>
            </tr>
        </table>
    </form>
    <br>
    <div th:replace="/fragments/map :: map"></div>
    <div id="map" style="width:100%; height:360px"></div>
</div>

<div th:replace="/fragments/base :: script-import"></div>

</body>
</html>