<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="/fragments/base :: head">
</head>

<body>

<div th:replace="/fragments/base :: navbar">
</div>

<h1>
    Sign up your profile
</h1>

<form th:action="@{/register}" th:object="${user}" method="post">
    <table class="table table-bordered table-hover">
        <tr>
            <th>Full Name</th>
            <td>
                <div>
                    <input type="text" th:field="*{name}"/>
                </div>
            </td>
        </tr>
        <tr>
            <th>Username</th>
            <td>
                <div>
                    <input type="text" th:field="*{username}"/>
                </div>
            </td>
        </tr>
        <tr>
            <th>Date of Birth</th>
            <td>
                <div>
                    <input type="date" th:field="*{birthdate}" placeholder="YYYY/MM/DD"/>
                </div>
            </td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>
                <div>
                    <select name="example" th:field="*{gender}">
                        <option value="Man">Men</option>
                        <option value="Woman">Women</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <th>Main Language</th>
            <td>
                <div>
                    <select name="example" th:field="*{languages}">
                        <option value="Japanese">Japanese</option>
                        <option value="English">English</option>
                        <option value="Italia">Italia</option>
                        <option value="French">French</option>
                        <option value="Chinese">Chinese</option>
                        <option value="Korean">Korean</option>
                        <option value="Spanish">Spanish</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Malay">Malay</option>
                        <option value="Russian">Russian</option>
                        <option value="Portugese">Portuguese</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <th>Country</th>
            <td>
                <div>
                    <input type="text" th:field="*{country}"/>
                </div>
            </td>
        </tr>
        <tr>
            <th>City</th>
            <td>
                <div>
                    <input type="text" th:field="*{city}"/>
                </div>
            </td>
        </tr>
        <tr>
            <th>Picture</th>
            <td>
                <div class="input-group">
                    <label class="input-group-btn">
                        <div class="btn btn-primary">
                            Choose File
                            <input type="file" style="display:none"/>
                        </div>
                    </label>
                    <input type="text" />
                </div>
            </td>
        </tr>
        <tr>
            <th>Self introduction</th>
            <td>
                <div>
                    <input type="text" th:field="*{selfIntroduction}"/>
                </div>
            </td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary">Sign up</button>
    <button>Cancel</button>
</form>

<!--<div th:replace="/fragments/base :: footer"></div>-->
<div th:replace="/fragments/base :: script-import"></div>
</body>
</html>
