<html xmlns:th="http://www.w3.org/1999/xhtml">
<script type="text/javascript">
  // TODO ボタンを制御するためのJSコードを作成してください。
  function link_register() {
	location.href = "/register";
  }
    function link_detail() {
	location.href = "/user";
  }
  </script>
<head th:replace="/fragments/base :: head">
</head>

<body>

<div th:replace="/fragments/base :: navbar">
</div>

<h1>
    Sign up your profile
</h1>

<form th:action="@{/user}" th:object="${user}" method="post">
    <table class="table table-bordered table-hover">
        <tr>
            <th>Username</th>
            <td>
                <div>
                    <input type="text" name="username" th:field="*{username}"/>
                </div>
            </td>
        </tr>
        <tr>
            <th>Password</th>
            <td>
                <div>
                    <input type="password" name="password"/>
                </div>
            </td>
        </tr>
    </table>
<!--    <button type="submit" class="btn btn-primary" onclick="link_detail()">Sign in</button>-->
    <button class="btn btn-primary" type="submit">Sign in</button>
    <button>Cancel</button>
</form>

<button class="btn btn-second" onclick="link_register()">Sign up</button>

<!--<div th:replace="/fragments/base :: footer"></div>-->
<div th:replace="/fragments/base :: script-import"></div>
</body>
</html>
