<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="/fragments/base :: head">
</head>

<body>

<div th:replace="/fragments/base :: navbar">
</div>
<h1>
    Sign up your profile
</h1>

<form th:action="@{/register}" th:object="${user}" method="post">
    <table class="table table-bordered table-hover">
        <tr>
            <th>Name</th>
            <td>
                <div>
                    <input type="text" th:field="*{name}">
                </div>
            </td>
        </tr>
        <tr>
            <th>Date of Birth</th>
            <td>
                <div>
                    <input type="date" th:field="*{birthdate}" placeholder="YYYY/MM/DD"/>
                </div>
            </td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>
                <div>
                    <select name="example">
                        <option value="Man">Men</option>
                        <option value="Woman">Women</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <th>Languages</th>
            <td>
                <div>
                    <select name="example">
                        <option value="Men">Japanese</option>
                        <option value="Women">English</option>
                        <option value="Other">Italia</option>
                        <option value="Men">French</option>
                        <option value="Women">Chinese</option>
                        <option value="Other">Korean</option>
                        <option value="Men">Spanish</option>
                        <option value="Women">Hindi</option>
                        <option value="Women">Malay</option>
                        <option value="Women">Russian</option>
                        <option value="Other">Portuguese</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <th>Country</th>
            <td>
                <div>
                    <input type="text"/>
                </div>
            </td>
        </tr>
        <tr>
            <th>Hobbies</th>
            <td>
                <div>
                    <input type="text"/>
                </div>
            </td>
        </tr>
        <tr>
            <th>Picture</th>
            <td>
                <div>
                    <input type="text"/>
                </div>
            </td>
        </tr>
        <tr>
            <th>Self introduction</th>
            <td>
                <div>
                    <input type="text"/>
                </div>
            </td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary">Sign up</button>
    <button>Cancel</button>
</form>

<div th:replace="/fragments/base :: footer"></div>
</body>
</html>
