<html xmlns:th="http://www.w3.org/1999/xhtml">
<script type="text/javascript">
  function link_register() {
	location.href = "/register";
  }
    function link_detail() {
	location.href = "/user";
  }

</script>
<head th:replace="/fragments/base :: head">
</head>

<body>

<div th:replace="/fragments/base :: navbar">
</div>

<h1 class="text-center">
    Log-in
</h1>

<div class="login-container">

    <form th:action="@{/user}" th:object="${user}" method="post">
        <table class="table table-bordered table-hover">
            <tr>
                <th>Username</th>
                <td>
                    <div>
                        <input type="text" placeholder="Username" class="form-control" style="height:30px; width: 300px" name="username" th:field="*{username}"/>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Password</th>
                <td>
                    <div>
                        <input type="password" placeholder="Password" class="form-control" style="height:30px; width: 300px" name="password"/>
                    </div>
                </td>
            </tr>
        </table>
        <div class="text-center">
            <button class="btn btn-primary btn-lg" type="submit">Sign in</button>
            <button class="btn btn-secondary btn-lg">Cancel</button>
        </div>
    </form>

    <div class="text-center">
        <br>
        <button class="btn btn-success" onclick="link_register()">Sign up</button>
    </div>
</div>

<div th:replace="/fragments/base :: script-import"></div>
</body>
</html>
